extends layout 
 
block content 
  h1= title 
 
  form(id='ballForm', action="/resource/balls", method="POST") 
    div.form-group 
        label.ballAttr(for='color') Ball Color   
        input#color(type='text', name='color') 
    div.form-group 
        label.ballAttr(for='material') Ball Material  
        input#material(type='text', name='material') 
    div.form-group 
        label.ballAttr(for='cost') Ball Cost 
        input#cost(type='number', name='cost') 
    input(type="submit") 

    button(class="btn btn-secondary m-2" onclick="window.location.href='/balls'") Cancel 
  script.
    document.forms['ballForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
            method: 'POST',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
            alert("Save succeded")
            // TODO handle body
        }).catch((error) => {
            // TODO handle error
            alert("Save failed " + error )
        });
    }); 